/* MIS ESTILOS MOBILE */
body,html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background: #FFF7ED;
}

img{
  max-width: 100%;
  display: block;
}



/*NAVIGATION*/

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

nav img{
  width: 125px;
}

nav h1{
  text-transform: uppercase;
  font-weight: 900;
  color: #000;
  margin: 0;
  cursor:pointer
}

nav ul{
  display: flex;
  gap: 1em;
  margin: 0;
}

nav ul li{
  padding: 1em 0;
  list-style: none;
  color: #4D4D4D;
  cursor:pointer
}

/*NavLinks*/

.LinkTag{
  color: #4D4D4D;
  text-decoration: none;
}

.LinkTag:hover, .hostVansDetails--ul .LinkTag:hover{
  color: #000;
  font-weight: 900;
}

.activeLink{
  color: #000;
  font-weight: 900;
  text-decoration: orange underline;
}

/*HOME CONTENT*/
.home--main{
  background-image: url("../src/assets/imageFondo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.home--main section{
  padding: 2em 1em;
  text-align: left;
}

.home--main section h1{
  text-shadow: 1px 1px 3px #000;
  font-weight: 900;
  line-height: 42px;
}

.home--main .home--btn{
  font-family: 'Inter', sans-serif;
  background: #FF8C38;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1em 0em;
  margin: 1.25em 0;
  width: 100%;
  cursor: pointer;
}

.home--btn:hover{
  opacity: .8;
}

/*ABOUT CONTENT*/

section{
  padding: 1em;
}

section h1{
  font-size: 2em
}

section p{
  font-size: 1em;
}

.about--article{
  background: #FFCC8D;
  padding: 1.25em 2em;
  border-radius: 3px;
  margin: 1.8em 0;
}

.about--article h4{
  margin: 5px 0;
  font-size: 1.5em;
}

.about--article button{
  margin-top: 2em;
  background: #161616;
  color: white;
  padding: 1em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*VANS PAGE*/

.vanList-container--main{
  padding: 2em 1.125em;
}

.vanList--types{
  display: flex;
  gap: 1em;
  padding: 0;
}

.vanList--types li{
  display: inline-block;
  padding: .5em 1em;
  background: #FFEAD0;
  color: #4D4D4D;
  list-style: none;
  border-radius: 5px;
}

.vanList--types li:last-child{
  background: transparent;
  text-decoration: underline;
  margin-left: auto;
}

.vansInfo-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 0;
}

.vansInfo-container li{
  list-style: none;
}

.vansInfo-container li img{
  border-radius: 10px;
}

.vansInfo-container .section--namePrice{
  display: flex;
  justify-content: space-between;
}

.section--namePrice h4, .vansInfo-container .section--namePrice p{
  color: #161616;
  text-decoration: white underline;
}

.van-type {
  background-color: #FFEAD0;
  color: #4D4D4D;
  font-style: normal;
  text-transform: capitalize;
  height: 34px;
  padding: 6px 26px;
  border-radius: 5px;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}

/*VAN DETAILS*/
.vanDetails--main{
  padding: 2em 1.125em;
}

.vanDetails--main a, .hostVansDetails--main a{
  color: #161616;
  display: flex;
  align-items: center;
  gap: .5em;
  cursor: pointer;
}

.vanDetails--main a img{
  height: 10px;
}
.vanDetails--container img{
  margin: 3em 0em;
}
.vanDetails--container span{
  font-weight: 100;
}

.vanDetails--container button{
  font-family: 'Inter', sans-serif;
  background: #FF8C38;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 1em 0em;
  margin: 1.25em 0;
  width: 100%;
  cursor: pointer;
}


/*HOST*/

.hostDashboard--main,
.hostIncome--main,
.hostReviews--main,
.hostVans--main,
.hostVansDetails--main{
  padding: 2em 1.125em;
}

.dashboard--ul, 
.hostVansDetails--ul{
  display: flex;
  gap: 1em;
  margin: 0;
  padding: 2em 1.125em;
}

.dashboard--ul li,
.hostVansDetails--ul li{
  list-style: none;
}

/*HOST-VANS*/

.hostVans--main ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hostVans--main ul li{
  border-radius: 6px;
  list-style: none;
  background-color: #FFFFFF;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.hostVans--main ul li img{
  height: 66px;
  border-radius: 5px;
}
 
.hostVans--main ul li h3{
  color: #000;
  text-decoration: white underline;
}
.hostVans--main ul li p{
  color: #4D4D4D;
  text-decoration: white underline;
}

.hostVansDetails--ul .LinkTag{
  color: #4D4D4D;
}

/*HOST-VANSDETAILS*/

.hostVansDetails--main section article{
  background: #FFFFFF;
  padding: 1.25em;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 1.25em;
}

.hostVansDetails--main section article img{
  height: 160px;
  border-radius: 5px;
}

.hostVansDetails--main section article div p {
  font-weight: bold;
  font-size: 18px;
}
.hostVansDetails--main section article div p span {
  font-weight: 100;
}

.hostVansDetails--main .articleDos{
  display: block;
}

/*HOST-VANDETAILS-ID*/
.hostDetails--main{
  padding: 0em 1.125em;
}

.hostDetails--main p{
  font-weight: bold;
}
.hostDetails--main p span{
  font-weight: normal;
}

.hostDetails--main .price{
  font-size: 1.5em;
}

.hostDetails--main .price span{
  color: #4D4D4D;
}

.hostDetails--main .littleImg{
  height: 100px;
}
/*FOOTER*/
footer p{
  background: #252525;
  color: #AAAAAA;
  font-size: 14px;
  padding: 1.25em 0;
  margin: 0;
  text-align: center;
}
